<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Instagram_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Instagram_Assistant.Properties.Settings>
            <setting name="FeedLikesTotalCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LikeGoal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnfollowCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkipChance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Activity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomDelayValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DelayValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FeedStoriesTotalCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestHoursFrom" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RestHoursTo" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RestDateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="RestDateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomStoriesDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StoriesDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="StoriesSkipChance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsUnfollowIfFollowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnfollowDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomUnfollowDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsWorkTimeLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestTimeMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxUnfollowPerHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxStoriesPerHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxLikePerHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopWordsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoWordsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WordsInNamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFilteredAudiencePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveAudiencePath" serializeAs="String">
                <value />
            </setting>
            <setting name="HasBioParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasImageParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasHLparameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfileCategoryParameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsNameSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIdSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPhoneSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEmailSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinFollowersCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinMediaCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountTypeFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountCategoriesFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="HashatagTotalLikeCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeoTotalLikeCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HashtagTotatStoriesCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeoTotalStoriesCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActionsPerTechAccountLimit" serializeAs="String">
                <value>10</value>
            </setting>
        </Instagram_Assistant.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>